/* header：包裹 header__logo header__search header__user header__download */

.header {
  position: relative;
  text-align: center;
  width: 100%;
  height: 4.3rem;
}

.header__logo {
  position: absolute;
  left: 1.9rem;
  top: 1.5rem;
  width: 5rem;
}

.header__search {
  position: absolute;
  left: 17rem;
  top: 1.9rem;
  width: 1.5rem;
  height: 1.5rem;
}

.header__user {
  position: absolute;
  left: 20rem;
  top: 1.5rem;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  overflow: hidden;
}

/* .header__download 包裹 .download__p */

.header__download {
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  width: 5rem;
  height: 1.7rem;
  padding-top: 0.5rem;
  padding-right: 0.2rem;
  padding-left: 0.5rem;
  color: white;
  background: #fb7299;
  border-radius: 0.5rem;
}

.download__p {
  font-size: 0.93rem;
}

.content {
  position: relative;
  margin: 0;
  overflow: hidden;
}

.contentbox {
  position: relative;
}

/* .navigation-box 包裹 .navigation-box__navigation */

.navigation-box {
  z-index: 1;
  width: 100%;
  height: 3.5rem;
  overflow-x: hidden;
}

/* .navigation-box__navigation 包裹 .navigation__link */

.navigation-box__navigation {
  margin-left: 1rem;
  width: 30rem;
  height: 3.5rem;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  background-color: white;
}

.navigation-box__navigation::-webkit-scrollbar {
  display: none;
}

/* .navigation__link 包裹 .navigation__link--selected */

.navigation__link {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  line-height: 4rem;
  text-decoration: none;
  color: #757575;
  font-size: 1rem;
  display: inline-block;
}

.navigation__link--selected {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  font-size: 1rem;
  color: #fb7299;
  text-decoration: none;
  border-bottom: 0.18rem solid #fb7299;
  display: inline-block;
  line-height: 2rem;
}

/* .dropdown 包裹 .dropdown__hide .dropdown__show */

.dropdown {
  position: absolute;
  left: 0rem;
  top: 0rem;
  width: 30rem;
  height: 16rem;
  z-index: 999;
  background-color: white;
  overflow: hidden;
}

.dropdown__show {
  position: absolute;
  top: 1%;
  right: -1rem;
  width: 2rem;
  height: 2.2rem;
  padding-left: 1rem;
  padding-right: 1.5rem;
  font-size: 1.5rem;
  line-height: 2.8rem;
  background-color: white;
}

.dropdown__hide {
  margin-top: -1.5rem;
  margin-left: 13rem;
}

/* .content1 包裹 .content1__box1 */

.content1 {
  width: 100%;
  margin: 0 auto;
  overflow-y: scroll;
}

/* .content1__box1 包裹 .box1__imgbox1 .box1__introduce */

.content1__box1 {
  text-decoration: none;
  color: white;
}

/* .box1__imgbox1 包裹 .imgbox1__img1 .imgbox1__label1  */

.box1__imgbox1 {
  width: 90%;
  height: 13rem;
  margin: 0 auto;
}

.box1__introduce {
  width: 90%;
  margin: 0 auto;
  margin-top: 1rem;
  font-size: 1rem;
  color: black;
  letter-spacing: 0;
  text-align: left;
}

.imgbox1__img1 {
  width: 100%;
  height: 100%;
  margin: 1rem auto;
  border-radius: 0.8rem;
  z-index: 2;
}

/* .imgbox1__label1 包裹 .label1__span */

.imgbox1__label1 {
  color: white;
  width: 98%;
  height: 2rem;
  font-size: 1rem;
  font-weight: 500;
  padding-left: 0.5rem;
  margin-top: -12%;
  border-radius: 1rem;
  transform: translateZ(1px);
  background: linear-gradient( 180deg, rgba(33, 33, 33, 0.05), rgba(33, 33, 33, 0.6));
}

.label1__span {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0.7rem;
  padding: 0.2rem 0.2rem;
}

/* .content2 包裹 .content2__case .content2__navigation */

.content2 {
  width: 100%;
  background-color: #f0f0f0;
  height: 50%;
}

/* .content2__navigation 包裹 .navigation-box .navigation-box__navigation .navigation__link .navigation__link--selected */

.content2__navigation {
  margin-left: 0rem;
  width: 100%;
  height: 3.5rem;
  background-color: white;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.content2__navigation::-webkit-scrollbar {
  display: none;
}

/* .content2__case 包裹 .case__labelbox .case__linkcase */

.content2__case {
  height: 53.95rem;
  width: 100%;
  overflow-y: scroll;
}

/* .case__labelbox 包裹 .labelbox__left .labelbox__right */

.case__labelbox {
  width: 100%;
  margin-left: 1rem;
  margin-top: 1rem;
}

/* .case__linkcase 包裹 .linkcase__linkbox */

.case__linkcase {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.labelbox__left {
  margin-left: 5%;
  font-size: 1.2rem;
  line-height: 2.26133rem;
  text-align: left;
  color: #212121;
}

.labelbox__right--recommend {
  float: right;
  margin-right: 5%;
  font-size: 1rem;
  color: #ffa726;
  line-height: 0.59733rem;
}

/* .labelbox__right 包裹 .right__lable */

.labelbox__right {
  float: right;
  margin-right: 5%;
  font-size: 1rem;
  color: silver;
  line-height: 0.59733rem;
}

.right__label {
  font-size: 1.2rem;
  line-height: 2.26133rem;
  text-align: left;
  color: silver;
}

/* .linkcase__linkbox 包裹 .linkbox__imgbox2 .linkbox__introduce */

.linkcase__linkbox {
  width: 40%;
  margin-left: 2rem;
  border-radius: 1rem;
}

/* .linkbox__imgbox2 包裹 .imgbox2__img .imgbox2__label2 */

.linkbox__imgbox2 {
  width: 100%;
}

.linkbox__introduce {
  margin-top: 0.3rem;
  width: 10rem;
  font-size: 0.8rem;
  color: black;
}

.imgbox2__img {
  z-index: 2;
  width: 100%;
  height: 100%;
  margin: 1rem auto;
  border-radius: 0.4rem;
}

/* .imgbox2__label2 包裹 .label2__span */

.imgbox2__label2 {
  width: 96%;
  height: 1.1rem;
  padding-left: 0.5rem;
  margin-top: -19.5%;
  font-size: 0.8rem;
  color: white;
  font-weight: 500;
  border-radius: 1rem;
  transform: translateZ(1px);
  background: linear-gradient( 180deg, rgba(33, 33, 33, 0.05), rgba(33, 33, 33, 0.6));
}

.label2__span {
  color: white;
}

.footer {
  font-size: 1rem;
  color: #757575;
  text-align: center;
  height: 8rem;
  line-height: 3rem;
  margin-top: 1rem;
}

.roll-back {
  width: 3rem;
  height: 3rem;
  position: fixed;
  right: 3rem;
  bottom: 3rem;
}

* {
  text-decoration: none;
  margin: 0;
}

#app {
  font-family: '微软雅黑';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
